.App {
  /* width: 375px; */
}

i {
  color: white;
}

.card {
  color: rgb(34, 34, 34);
}

.card-img {
  object-fit: cover;
  width: 10%;
  height: 8rem;
  margin: 1rem 2rem;
}

.form-group {
  font-weight: bolder;
}

.element-radius{
  border-radius: 1.5rem ;
}


/* RESPONSIVE - larger than 450px */
@media screen and (min-width: 450px) {
  .App {
    width: 100%;
  }
  .card-img{
    width: 3rem;
    object-fit: contain;
  }
  .container{
    margin-top: 2rem;
  }
}
